<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>education</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
   <servlet>
  	<servlet-name>loginServlet</servlet-name>
  	<servlet-class>com.education.servlet.LoginServlet</servlet-class>
   </servlet>
   <servlet>
  	<servlet-name>skipServlet</servlet-name>
  	<servlet-class>com.education.servlet.SkipServlet</servlet-class>
   </servlet>
   <servlet>
  	<servlet-name>EpServlet</servlet-name>
  	<servlet-class>com.education.servlet.EpServlet</servlet-class>
   </servlet>
    <servlet-mapping>
  	<servlet-name>loginServlet</servlet-name>
  	<url-pattern>/login</url-pattern>
  </servlet-mapping>
   <servlet-mapping>
  	<servlet-name>skipServlet</servlet-name>
  	<url-pattern>/skip</url-pattern>
  </servlet-mapping>
    <servlet-mapping>
  	<servlet-name>EpServlet</servlet-name>
  	<url-pattern>/ep</url-pattern>
  </servlet-mapping>
</web-app>