.top
{
	width: 98%;
	margin: 0 auto;
	border: 1px solid #eee;
	height: 40%;
	background-color: #fff;
}

.left
{
	width: calc( 49% - 2px);
	height: calc(100% - 2px);
	border: 1px solid #eeeeee;

}

.right
{
	width: calc(49% - 3px);
	height: calc(100% - 2px);
	border: 1px solid #eee;
	margin-left: 2%;
}
.top div
{
	float: left;
}
.bottom
{
	width: 98%;
	margin: 0 auto;
	border: 1px solid #eee;
	height: 150%;
	background-color: #f8f9fb;
}
.bottom_title
{
	width: 100%;
	height: 40px;
	
	display:flex;
    align-items:center;
    justify-content:left;
    font-weight: bold;
   
    background-color: #d5e7e8;
}

.content_list
{
	width: 90%;
	height: calc(95% - 2px);
	
	margin: 0 auto;
	background-color: #f8f9fb;

}
.content
{
	width: calc(100% - 2px);
	height: 150px;
	border: 1px solid #eeeeee;
	background-color: #f4f4f4;
	border-radius: 5px;
	margin-top: 3%;
	cursor: pointer;
}
.content:hover
{
	background-color: #d8e8f0;
}



#bb
{
	background-color: #6ba793;
	border: 0;
	border-radius: 3px;
	width: calc(100% - 2px);
	height: calc(100% - 2px);
	color: white;
	font-size: 18px;
	cursor: pointer;
	text-align: center;
}
#bb:hover
{
	opacity: 0.8;
}
.right_right
{
	width: 15%;
	height: 60%;

	position: relative;
	top: -130%;
	float: right;
}
.bbb
{
	width: calc(100% - 2px);
	height: 30%;
	
	position: relative;
	top: 30%;
}
.aaa
{
	width: calc(100% - 2px);
	height: 30%;
	
}
.right_right div
{
	display: flex;
	align-items: center;
	justify-content: left;

}